<div class="breadcrumb">
  <a href="/">Root</a>
  <% 
    let parts = directory.split('/');
    let currentPath = '';
    parts.forEach((part, index) => {
      if (part) {
        currentPath += '/' + part;
        if (index < parts.length - 1) { %>
          / <a href="/browse<%= currentPath %>"><%= part %></a>
        <% } else { %>
          / <span><%= part %></span>
        <% }
      }
    });
  %>
</div>

<h2>Create new file in: <%= directory %></h2>

<form action="/save" method="post">
  <input type="hidden" name="path" value="<%= directory + '/' + filename %>">
  
  <div class="form-group">
    <label>File name: <%= filename %></label>
  </div>
  
  <div class="editor-container">
    <textarea name="content" class="editor"></textarea>
  </div>
  
  <div class="editor-actions">
    <div>
      <button type="submit" class="btn btn-primary">Create File</button>
      <a href="/browse<%= directory %>" class="btn btn-secondary">Cancel</a>
    </div>
    
    <div>
      <input type="text" name="commitMessage" class="form-control" placeholder="Commit message" value="Create <%= filename %>" required>
    </div>
  </div>
</form>